.home {
  width: 100%;
  max-width: 1224px;
  min-height: 100vh;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 110px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translate(0, -2%);
  animation: homeAppear 1.5s 1s 1 ease normal both;

  @media screen and (max-width: 500px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .profilePic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  .profileText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: relative;

    .name {
      color: white;
      font-size: 32px;
      font-weight: 900;

      span {
        color: crimson;
      }

      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
    }

    .job {
      color: white;
      opacity: 0.5;
      font-size: 13px;
    }

    .text {
      color: white;
      font-size: 80px;
      line-height: 1.2;
      text-align: center;
      margin-top: 32px;

      @media screen and (max-width: 800px) {
        font-size: 55px;
      }
      @media screen and (max-width: 530px) {
        font-size: 40px;
      }
    }

    .connectWithMe {
      background-color: white;
      border-radius: 12px;
      padding: 10px 16px;
      margin-top: 48px;
      font-size: 13px;
      cursor: pointer;
      transition: scale 0.5s ease-out;
      margin-bottom: 15px;

      &:hover {
        scale: 1.1;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }

    .web {
      background-color: white;
      opacity: 0.6;
      padding: 5px 8px;
      border-radius: 20px;
      position: absolute;
      right: -16px;
      top: 55px;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .freelance {
      background-color: white;
      opacity: 0.6;
      padding: 5px 8px;
      border-radius: 20px;
      position: absolute;
      bottom: 32px;
      left: 0;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
}

@keyframes homeAppear {
  0% {
    transform: translate(0, -2%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
